/*
#4A148C   violet foncé
#7C4DFF   violet pâle
#FFEB3B   jaune
#121212   noir
#E0E0E0   blanc   

text-shadow: 0 3px 6px #ffeb3b7c !important;
effet néon jaune sous le text*/

body {
   background-color: #E0E0E0;
   font-family: 'Roboto', sans-serif;
}

.bg-violet {
    background-color: #4A148C;
}

.navbar-brand {
    color: #E0E0E0 !important;
}

.navbar-nav .nav-link {
    color: #E0E0E0;
    text-shadow: 0 3px 6px #ffeb3b7c !important;
}

.navbar-toggler {
    background-color: #7C4DFF;
    border: none !important;
    box-shadow: 0 0 3px #ffeb3b7c !important;
}

h1 {
    font-family: 'Orbitron', sans-serif !important;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: #E0E0E0;
}

.title_presentation {
    font-family: 'Orbitron', sans-serif !important;
    color: #4A148C !important;
    text-shadow: 0 3px 6px #ffeb3b7c !important;
}

.title_edition {
    font-family: 'Orbitron', sans-serif;
    color: #4A148C !important;
    text-shadow: 0 3px 6px #ffeb3b7c !important;
}

h5 {
    font-family: 'Montserrat', sans-serif !important;
}

.card_content{
    box-shadow:  0 3px 6px #121212 !important;
}

.card-body{
    background-color: #7C4DFF;
}

.form-container {
    background-color: #4A148C;
    color: #E0E0E0 !important;
    max-width: 600px;
}

.btn-primary {
    background-color: #7C4DFF;
    border: none !important;
}


